/*esto es general*/
*{margin:0; padding:0; box-sizing:border-box;}
.imagen {
    width: 100%; 
}
body {
    background: linear-gradient(rgb(180, 180, 180) rgb(150, 150, 150));
    padding: 0%;
}
html {
    scroll-snap-type: y mandatory;
}
h1 {
    text-align: center;
    font-size: 38px;
    color: #f4feff;
    background: rgb(67,68,70);
    background: linear-gradient(324deg, rgba(67,68,70,1) 0%, rgba(21,97,131,1) 35%, rgb(122, 186, 218) 100%);
    padding: 25px;
    text-shadow: -1.5px 0px 1.5px #232b30;
}
nav {
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #90bfd4;   
    color: #232b30;
    padding: fit-content;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #f8fdff;
    text-shadow: -0.5px 0px 0.5px #232b30;
    
}
 a:hover {
    color: #232b30;
    padding: fit-content;
}
.navegacion-principal img{
    background-size: cover;
}

.presentacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;

}
.presentacion {
    display: flex;   
}
header {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

h1 {
    text-align: center;
    font-size: 38px;
    color: #f4feff;
    background: rgb(67,68,70);
    background: linear-gradient(324deg, rgba(67,68,70,1) 0%, rgba(21,97,131,1) 35%, rgb(122, 186, 218) 100%);
    padding: 25px;
    text-shadow: -1.5px 0px 1.5px #232b30;
}

h2 {
    text-align: center;
    color: #2a6079;
    padding-top: 45px;
    padding-bottom: 10px;
}

/*presentación*/
.titulo-presentacion {
    padding-top: 100px;
    color: #2a6079;
}
.contenedor-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.contenedor-presentacion p {
    display: flex; 
    text-align: left;
    align-items: center;
    font-size: 27px;
}

.mi-texto { 
width: 30%;
}
.contenedor-presentacion img {
    display: flex;
    align-content: center; 
    width: 345px;
    height: 400px;
    padding-right: 2px;
}


/*cajitas de las cartas*/
.titulo-tecnologias {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.titulo-tecnologias {
    text-align: center;
    color: #2a6079;
    padding-top: 45px;
    padding-bottom: 30px;
}
#contenedor-cards {
    text-align: center;
    font-size: large;
    padding: 15px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
}

.cards {
    
    width: fit-content;
    margin: auto;
    transition: 1s;
    padding: 0px 1em 0px 1em;
}

.cards:hover {
    background-color: #90bace;
    border-radius: 12%;
}

/*carrusel de imágenes*/
.title {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.mi-texto2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}
.carrusel {
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;   
    background-color: #a2cfe4;
}

.img-portfolio {
    padding-left: 2px;
    padding-right: 2px;
    border: #9d9d9e;
    border-radius: 1%;

}